.navbar-lewagon {
  justify-content: space-between;
  height: 88px;
  width: 100%;
  padding: 30px 0 25px 0;
  background: linear-gradient(135deg, #4462c5d5 0%, #41d365c9 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

