<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <h1>Brandon Lindberg</h1>
    </div>
  </div>
</div>

<div class="container mt-3">

  <div class="row justify-content-end"> 
    <h3>About Me</h3>
    <div class="d-flex col-12">
      
      <div class="container">
        <img src="https://media-exp1.licdn.com/dms/image/C5103AQHXJMNyqW_X3w/profile-displayphoto-shrink_400_400/0/1539589669495?e=1622073600&v=beta&t=N41QK9LFgppo9vcBS_eoYp-koGwFz36akQ5LH82QpV8" alt="" class="avatar" id="profile-pic">
        
        <div style="text-align: center;">
          <a href="https://github.com/brandon-lindberg" target="_blank" class="font-awesome"><i class="fab fa-github-alt"></i></a>
          <a href="https://www.linkedin.com/in/brandon-lindberg/" target="_blank" class="font-awesome"><i class="fab fa-linkedin"></i></a>
        </div>
      
      </div>

      <div class="container">

        <p class="text-justify"> 
          My name is Brandon Lindberg. I am a <strong>Full-Stack Web Developer</strong> here in Tokyo, Japan. I started my coding journey in mid 2020. I began by self-studying with a <strong>Python</strong> tutorial on YouTube, and as I was working through the course I realized that there were no limitations in what you could create other than the limitations I set on myself. This is when I fell in love with coding. I made the decision to join the <a href="https://www.lewagon.com/tokyo">Le Wagon</a> coding bootcamp, from where I came out fulfilled and confident to say that I'm a <a href="https://github.com/brandon-lindberg">Full-Stack Web Developer</a>.
          <br>
          <br>
          <strong>Javascript</strong> and <strong>Ruby on Rails</strong> adept, I'm currently developing my <strong>ReactJS</strong> skills. Always ready to learn more and grow as a person, improving life through code.
        </p>
        
      </div>
      
    </div>
  </div>
</div>

<div class="container mt-3" id="projects">

  <div class="col-8 col-sm-11 col-lg-8">
    <h3>Projects</h3>
    <p>I am in another column</p>

    <div class="row justify-content-between">

      <div class="col">
        <p>new column</p>
      </div>

      <div class="col">
        <p>new column</p>
      </div>

      <div class="col">
        <p>new column</p>
      </div>
      
    </div>

  </div>

</div>


<div>
</div>